extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form--login
        .form__group
          label.form__label(for='name') Email address
          input#email.form__input(type='name', placeholder='Your Name', required)
        .form__group
          button.btn.btn-primary.btn-lg.btn-block(type='button') Login
